@charset 'utf-8';

/* カスタムリセット・ベース  ------------------------------------------------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Noto Serif JP", serif;
}

p {
    font-family: "Noto Serif JP", serif;
    line-height: 1.7;
}

h1,
h2,
h3 {
    font-family: "Noto Serif JP", serif;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}


:root {
    /* カラー管理 ------------------------------------------------------------*/
    --color-text: #333;
    /* セクションのフォントサイズ ------------------------------*/
    --section-title: clamp(1.5rem, 1.227rem + 1.36vw, 2.25rem);
    /* セクション間のマージン ------------------------------*/
    --section-margin: clamp(4rem, 3.273rem + 3.64vw, 6rem);
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0 4%;
    overflow-x: hidden;
    padding-top: 70px;
}


.header-container {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    gap: 2rem;
    margin: 0 auto;
}


.name-area h1 {
    writing-mode: vertical-rl;
    padding: 1rem;
    font-weight: normal;
    font-size: clamp(1.3rem, 1.118rem + 0.91vw, 1.8rem);
    background: #ffffff;
    padding-top: 0;
    position: relative;
    /* ← これがないと z-index 効かない */
    z-index: 100000;
    /* overlay より上にする */
}

.name rt {
    margin-left: 0.5em;
    font-size: clamp(0.438rem, 0.369rem + 0.34vw, 0.625rem);
}

.main-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.nav_pc {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
    text-align: right;
    position: fixed;
    top: 0;
    right: 4%;
    z-index: 9999;
}

.nav_pc ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    background-color: rgba(239, 239, 239, 0.8);
    height: 100%;
    align-items: center;
    width: 600px;
    justify-content: center;
}

.nav_pc ul li a {
    display: block;
    padding: 0.6rem;
    font-weight: 600;
    position: relative;
}

.sns img {
    display: inline-block;
    width: 1em;
    margin-left: 0.2em;
}

.nav_pc ul li a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: var(--color-text);
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
}

.nav_pc ul li a:hover::after {
    transform: scale(1, 1);
    /*ホバー後、x軸方向に1（相対値）伸長*/
}

/* ハンバーガーメニュー */
.hamburger {
    display: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 25px;
    height: 25px;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 99999;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-text);
    transition: 0.3s;
}

/* active時のアニメーション */
.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
}

/* オーバーレイメニュー */
/* オーバーレイメニューの基本 */
.overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.overlay-menu ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.overlay-menu li {
    margin: 1rem 0;
}

.overlay-menu a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-text);
}

/* 表示時のスタイル */
.overlay-menu.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}


/* ヒーロー */
.hero-area {
    flex: 1;
    background: white;
    width: 100%;
    max-height: 500px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0 2rem;
    margin: 0 auto;
}

.main-visual {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 1400px;
    width: 100%;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    aspect-ratio: 16 / 9;
}

/* ノイズレイヤー */
.main-visual::before {
    content: "";
    position: absolute;
    top: -100%;
    left: -100%;
    width: 300%;
    height: 300%;
    background: url("../images/26757649.png") repeat;
    animation: grain 20s steps(10) infinite;
    opacity: 0.4;
    z-index: 2;
    mix-blend-mode: overlay;
    pointer-events: none;
}

.fade-bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 2s ease, transform 10s ease;
    z-index: 0;
}

.fade-bg.active {
    opacity: 1;
    z-index: 1;
}

@keyframes grain {

    0%,
    100% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%, 0%)
    }

    70% {
        transform: translate(0%, 15%)
    }

    80% {
        transform: translate(3%, 35%)
    }

    90% {
        transform: translate(-10%, 10%)
    }
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
}

.works {
    margin-top: clamp(4rem, 2.909rem + 5.45vw, 7rem);
}

.section-title {
    margin-bottom: clamp(2.5rem, 1.955rem + 2.73vw, 4rem);
    font-size: var(--section-title);
    font-weight: 500;
}

.work-title {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 1.2rem;
}

.work-title span {
    font-size: 14px;
}

.work-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 6rem;
}


.work-main-image-wrapper {
    padding: 1rem;
    border: 1.5px solid #333;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
    width: 50%;
    background-color: #e2e2e2;
}

.work-main-image-wrapper .main-slide {
    width: 100%;
}

.main-img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
}

.work-slide-wrapper {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
}

.swiper.work-slide {
    width: 100%;
}

.swiper-slide {
    flex-shrink: 0;
    width: 33.333%;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    padding: 0.5rem;
    border: 1px solid #333;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}

.thumb-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.swiper,
.swiper-wrapper {
    width: 100%;
}

.swiper {
    position: relative;
}

.swiper-slide {
    flex-shrink: 0;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
}

.swiper-wrapper-container {
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-prev {
    left: -1.5rem;
}

.swiper-button-next {
    right: -1.5rem;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1.5rem;
    color: #333;
}

.work-slide-wrapper .swiper-pagination {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    pointer-events: auto;
}

.swiper-pagination-bullet {
    background-color: #4a4a4a;
    width: 10px;
    height: 10px;
    margin: 0 6px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
    background-color: #fe8c46;
    transform: scale(1.2);
}


.work-text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    justify-content: space-between;
}


.work-text-wrapper p {
    flex-grow: 1;
}

.work-text-wrapper h4 {
    font-size: 1.1rem;
    margin-bottom: 0.5em;
}

.work-text-wrapper h4 span {
    font-size: 14px;
    font-weight: normal;
    color: #545454;
}

.work-text-wrapper p {
    font-size: 15px;
}

.work-btn-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.work-btn-wrapper a {
    display: inline-block;
    padding: 0.5rem;
    border: 1px solid #333;
    font-size: 1rem;
    transition: .4s;
}

.work-btn-wrapper a::after {
    content: "";
    display: inline-block;
    background: url(../images/parts/link_black.svg) no-repeat center / contain;
    ;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
}

.work-btn-wrapper a:hover {
    color: #fff;
    background-color: #333;
}

.work-btn-wrapper a:hover::after {
    content: "";
    display: inline-block;
    background: url(../images/parts/link_white.svg) no-repeat center / contain;
    ;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
}


.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.work-slide-wrapper .slide img:hover {
    filter: brightness(1.5);
    transform: scale(1.03);
    transition: all 0.3s ease;
    cursor: pointer;
}



@media screen and (max-width:850px) {
    body {
        padding-top: 4%;
    }

    .nav_pc {
        display: none;
    }

    .hamburger {
        display: flex;
    }



    .hero-area {
        max-height: 600px;
    }

    .main-visual {
        aspect-ratio: 9 / 16;
    }

    .work-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .work-main-image-wrapper {
        width: 100%;

    }

    .work-slide-wrapper {
        width: 100%;
    }

}
